


<div id="front_hero">		
	<div class="container">
		<div class="info_container">
			<h2>CROSSFIT TRAINERS</h2>
			<p>Learn from the BEST trainers in the industry!</p>
			<div class="learn_more_button">
				<h4>LEARN MORE</h4>
				<div>
					<i class="icon-chevron-right icon-white"></i>
				</div>
			</div>
		</div>
	</div>		
</div>

<div id="offerings_container" class="container">
	<div id="main_offerings_list">
		<div class="offerings_box pull-left">
			<img src="http://placehold.it/217x103" alt="">
			<h4>CROSSFIT TRAINING</h4>
			<p>
				Learn Fom The BEST Trainers Of The Industry
			</p>
		</div>
		
		<div class="offerings_box">
			<img src="http://placehold.it/217x103" alt="">
			<h4>GROUP CLASSES</h4>
			<p>
				Learn Fom The BEST Trainers Of The Industry
			</p>
		</div>
		
		<div class="offerings_box">
			<img src="http://placehold.it/217x103" alt="">
			<h4>LEARN BOXING</h4>
			<p>
				Learn Fom The BEST Trainers Of The Industry
			</p>
		</div>
		
		<div class="offerings_box pull-right">
			<img src="http://placehold.it/217x103" alt="">
			<h4>BEST MMA TRAINERS</h4>
			<p>
				Learn Fom The BEST Trainers Of The Industry
			</p>
		</div>
		
		
		<div class="clearfix"></div>
		
	</div>
	
	<img src="http://placehold.it/940x216" alt="">
	
</div>



<div class="gray_background">
	<div id="home_content" class="container">
		
		
		<div class="home_column">
			<div class="home_column_header">
				<h4>OUR CLASSES</h4>
				<a class="btn btn-mini">VIEW ALL</a>
			</div>
			
			<div class="white_container">
				<img src="http://placehold.it/280x124" alt="">
			</div>
			
		</div>
		
		<div class="home_column">
			<div class="home_column_header">
				<h4>OUR TRAINERS</h4>
				<a class="btn btn-mini">VIEW ALL</a>
			</div>
			
			<div class="white_container">
				<img src="http://placehold.it/280x124" alt="">
			</div>
			
		</div>
		
		<div class="home_column">
			<div class="home_column_header">
				<h4>RECENT NEWS</h4>
				<a class="btn btn-mini">VIEW ALL</a>
			</div>
			
			<div class="white_container">
				<img src="http://placehold.it/280x124" alt="">
			</div>
			
		</div>
		
	</div>
</div>

