/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'bourbon';


.container {
  
  /* Large desktop */
  @media (min-width: 1200px) { 
    width: 960px;
  }
  
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 980px) and (max-width: 1200px) { 
    width: 960px;
  }
}

#header_container {
  height: 50px;
  background: #000;
  padding-top: 20px;
 
  
}

header {  
  margin: 0;
  
  ul {
    
    float: left;
    li {
      float: left;
      margin-right: 30px;
      list-style-type: none;
      
      a {
        color: #e5e5e5;
        
        &:link {
          text-decoration: none;
        }
        &:hover {
          color: white;
        }
        
        img {
          margin-right: 5px;
          margin-top: 3px;  
        }
        
      }
      
    }
  }
  
  #search_box {    
    float: right;
    
    img {
      margin-right: 5px;
      margin-top: 3px;  
    }
    
  }
  
}


#main_navigation {
    
  #logo_container {
    float: left;
    margin-right: 40px;  
    margin-top: 30px;  
    
    img {
      float: left;
      margin-right: 20px;
    }
    
    h4 {      
      float: left;
      margin-top: 20px;
      font-style: italic;
      color: #ccc;
    }
  }
  
  #navigation {
       
    ul {
      margin: 0; 
      li {
        float: left;
        list-style-type: none;
        
        a {
          display: inline-block;
          color: #ccc;  
          padding: 50px;
          &:hover {
            
            background: #D74340;
          }
          
        }
        
      }
    }
  }
  
}


#front_hero {
  position: relative;
    
  background: -moz-radial-gradient(center, ellipse cover,  rgba(237,179,178,0.64) 0%, rgba(187,142,139,0.96) 88%, rgba(187,142,139,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(237,179,178,0.64)), color-stop(88%,rgba(187,142,139,0.96)), color-stop(100%,rgba(187,142,139,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(237,179,178,0.64) 0%,rgba(187,142,139,0.96) 88%,rgba(187,142,139,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(237,179,178,0.64) 0%,rgba(187,142,139,0.96) 88%,rgba(187,142,139,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(237,179,178,0.64) 0%,rgba(187,142,139,0.96) 88%,rgba(187,142,139,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(237,179,178,0.64) 0%,rgba(187,142,139,0.96) 88%,rgba(187,142,139,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3edb3b2', endColorstr='#bb8e8b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  height: 533px;
  
  
  .info_container {
    float: left;
    border-left: 5px solid #D74340;
    background: #B28685;
    height: 200px;
    width: 475px;
    padding: 20px;
    position: absolute;
    top: 100px;
    
    
    
    h2 {
      color: white;
    }
    
    p {
      color: white;
    }
    
    .learn_more_button {      
      background: #5E5E5E;
      width: 250px;
      height: 50px;
      
      h4 {
        margin: 0;
        padding: 0;
        margin-left: 10px;
        margin-top: 17px;
        float: left;
        color: white;
      }      
      
      div {
        padding-top: 15px;
        float: right;
        width: 30px;
        height: 35px;
        background: #424242;
        text-align: center;
        
        i {
          margin: auto;
        }
        
      }
      
    }
    
  } 
  
}


#offerings_container {
  position: relative;
  width: 100%;
  background: #E4E8EE;
  text-align: center;
  height: 132px;
  
}

#main_offerings_list {
  
  padding: 20px;
  margin-top: -100px; 
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 9999;  
  background: #fff;
  width: 940px;
    
 
  .offerings_box {    
    
    &:nth-child(2) {
      margin-right: 20px;
    }
    
    width: 217px;    
    margin: 0px;
    display: inline-block;
        
    
   img {
      margin: 0 auto;
    }
    
    h4 {
      margin: 0;
      padding: 0;
      background: #262729;
      color: #fff;
      padding: 5px;
      font-size: 15px;
    }
    
    p {
      color: #fff;
      background: #D74340;
      padding: 20px;
    }
    
  }
   
  
}


//******************* HOME CONTENT

.gray_background {
  background: #E4E8EE;
  margin-top: 300px;
  height: 100%;
}

#home_content {
  text-align: center;  
  
  img {
    margin: 0 auto;
  }
  
  .home_column {
    width: 300px;
    padding: 10px;
    float: left;
    
    .white_container {
      width: 280px;
      padding: 10px;
      background: #fff;
      margin-bottom: 20px;
      border: 1px solid #CDCDCD;
      overflow: auto;
      
      img {
        margin-bottom: 20px;
      }
      
      h4 {
        float: left;        
        padding: 0;
        font-size: 14px;
        color: #666;
        
      }
      
      hr {
        clear: both;
        height: 1px;
        margin: 1em 0;
        background: #ccc;
      }
      
      p {
        color: #666;
        font-size: 12px;
        text-align: left;
      }
      
      a.btn-more-info {
          float: left;
          background: #D74340;
          color: #fff;
          margin-bottom: 10px;
      }
      
      
    }
    
    .gray_container {
      
        width: 280px;
        padding: 10px;
        background: #262729;
        margin-bottom: 20px;
        border: 1px solid #CDCDCD;
        overflow: auto;
        
        img {
          margin-bottom: 20px;
          border-bottom: 5px solid #D74340;
        }
        
        h4 {
          float: left;        
          padding: 0;
          font-size: 14px;
          color: #fff;
          
        }
        
        hr {
          
          height: 1px;
          margin: 1em 0;
          background: #CDCDCD;
          clear: both;
        }
        
        p {
          color: #CDCDCD;
          font-size: 12px;
          text-align: left;
        }
        
        a.btn-more-info {
            float: left;
            background: #D74340;
            color: #fff;
            margin-bottom: 10px;
        }
      
      
      
    }
    
    .home_column_header {
      margin-top: -40px;
      margin-bottom: 20px;
      border-left: 5px solid #D74340;
      padding: 20px;
      background: #262729;
      h4 {
        float: left;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 14px;
      }   
    }
    
  }
  
  
}


































