/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'bourbon';
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  font-family: 'Open Sans', sans-serif;
}

body {
  transition:all .3s ease-in-out;  
  -o-transition:all .3s ease-in-out;  
  -moz-transition:all .3s ease-in-out;  
  -webkit-transition:all .3s ease-in-out;
}

.container {
  
  /* Large desktop */
  @media (min-width: 1200px) { 
    width: 960px;
  }
  
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 980px) and (max-width: 1200px) { 
    width: 960px;
  }
}

#header_container {
  
  background: #000;
  padding-top: 40px;
  padding-bottom: 20px;
 
  
}

header {  
  margin: 0;
  
  #search_box {    
    float: right;
    
    background: url("/assets/icons/search_icon.png") no-repeat scroll 7px 7px;
    padding-left:30px;
    
    
    // img {
      // margin-right: 5px;
      // margin-top: 3px;  
    // }
    
  }
  
  ul {
    
    float: left;
    li {
      float: left;
      margin-right: 30px;
      margin-bottom: 5px;
      list-style-type: none;
      
      a {
        color: #e5e5e5;
        
        &:link {
          text-decoration: none;
        }
        &:hover {
          color: white;
        }
        
        img {
          margin-right: 5px;
          margin-top: 3px;  
        }
        
      }
      
    }
  }  
  
  
}


#main_navigation { 
  
  clear: both;
    
  #logo_container {
    float: left;
    margin-right: 40px;  
    margin-top: 30px;  
    
    img {
      float: left;
      margin-right: 20px;
    }
    
    h4 {      
      float: left;
      margin-top: 20px;
      font-style: italic;
      color: #ccc;
    }
  }
  
  #navigation {
    width: 100%;    
            
    @media (max-width: 979px) {
      clear: both;
      float: left;
      margin-top: 20px;
    }
       
    ul {      
      margin: 0; 
      width: 100%;  
      
      li {
        @media (min-width: 980px) {
          float: left;
        }
        @media (max-width: 979px) {
          display: block;
          //margin-bottom: 20px;     
          
        }
        list-style-type: none;
        
        a {          
          @media (min-width: 980px) {
            display: inline-block;
            font-size: 18px;
            color: #ccc;  
            padding: 50px;
            &:hover {       
              color: white;
              text-decoration: none;     
              background: #D74340;
            }
          }
          @media (max-width: 979px) {
            display: block;
            font-size: 18px;
            color: #000;
            background: #e5e5e5;
            border: 1px solid #ccc;
            padding: 20px;
            &:hover {  
              color: #fff;          
              background: #D74340;
            }
            
          }
          
          
        }
        
      }
    }
  }
  
}


#front_hero {
  position: relative;
    
  // background: url("/assets/man_woman_gym.png") no-repeat center center, -moz-radial-gradient(center, ellipse cover,  rgba(237,179,178,0.64) 0%, rgba(187,142,139,0.96) 88%, rgba(187,142,139,1) 100%); /* FF3.6+ */
  // background: url("/assets/man_woman_gym.png") no-repeat center center, -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(237,179,178,0.64)), color-stop(88%,rgba(187,142,139,0.96)), color-stop(100%,rgba(187,142,139,1))); /* Chrome,Safari4+ */
  // background: url("/assets/man_woman_gym.png") no-repeat center center, -webkit-radial-gradient(center, ellipse cover,  rgba(237,179,178,0.64) 0%,rgba(187,142,139,0.96) 88%,rgba(187,142,139,1) 100%); /* Chrome10+,Safari5.1+ */
  // background: url("/assets/man_woman_gym.png") no-repeat center center, -o-radial-gradient(center, ellipse cover,  rgba(237,179,178,0.64) 0%,rgba(187,142,139,0.96) 88%,rgba(187,142,139,1) 100%); /* Opera 12+ */
  // background: url("/assets/man_woman_gym.png") no-repeat center center, -ms-radial-gradient(center, ellipse cover,  rgba(237,179,178,0.64) 0%,rgba(187,142,139,0.96) 88%,rgba(187,142,139,1) 100%); /* IE10+ */
  // background: url("/assets/man_woman_gym.png") no-repeat center center, radial-gradient(ellipse at center,  rgba(237,179,178,0.64) 0%,rgba(187,142,139,0.96) 88%,rgba(187,142,139,1) 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3edb3b2', endColorstr='#bb8e8b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
//   
  background: url("/assets/man_woman_gym.png") no-repeat center center, rgb(205,163,160); /* Old browsers */
  background: url("/assets/man_woman_gym.png") no-repeat center center,  -moz-radial-gradient(center, ellipse cover,  rgba(205,163,160,1) 0%, rgba(98,77,75,1) 100%); /* FF3.6+ */
  background: url("/assets/man_woman_gym.png") no-repeat center center,  -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(205,163,160,1)), color-stop(100%,rgba(98,77,75,1))); /* Chrome,Safari4+ */
  background: url("/assets/man_woman_gym.png") no-repeat center center, -webkit-radial-gradient(center, ellipse cover,  rgba(205,163,160,1) 0%,rgba(98,77,75,1) 100%); /* Chrome10+,Safari5.1+ */
  background: url("/assets/man_woman_gym.png") no-repeat center center,  -o-radial-gradient(center, ellipse cover,  rgba(205,163,160,1) 0%,rgba(98,77,75,1) 100%); /* Opera 12+ */
  background: url("/assets/man_woman_gym.png") no-repeat center center,  -ms-radial-gradient(center, ellipse cover,  rgba(205,163,160,1) 0%,rgba(98,77,75,1) 100%); /* IE10+ */
  background: url("/assets/man_woman_gym.png") no-repeat center center,  radial-gradient(ellipse at center,  rgba(205,163,160,1) 0%,rgba(98,77,75,1) 100%); /* W3C */
  background-size: 100%;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cda3a0', endColorstr='#624d4b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  
  @media (min-width: 980px) {
    height: 533px;
  }
  
  
  .info_container {
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    border-left: 5px solid #D74340;
    //background: #B28685;
    height: 200px;
    @media (min-width: 767px) and (max-width: 1200px), (min-width: 1200px) {
      width: 475px;
    }
    padding: 20px;
    position: absolute;
    top: 100px;
    
    
    
    h2 {
      color: white;
    }
    
    p {
      color: white;
    }
    
    .learn_more_button {      
      background: #5E5E5E;
      width: 250px;
      height: 50px;
      cursor: pointer;
      
      h4 {
        margin: 0;
        padding: 0;
        margin-left: 10px;
        margin-top: 17px;
        float: left;
        color: white;
      }      
      
      div {
        padding-top: 15px;
        float: right;
        width: 30px;
        height: 35px;
        background: #424242;
        text-align: center;
        
        i {
          margin: auto;
        }
        
      }
      
    }
    
  } 
  
}


#offerings_container {
  position: relative;
  width: 100%;
  background: #E4E8EE;
  text-align: center;
  height: 132px;
  @media (max-width: 979px) {
    img#big_ad  {
      visibility: hidden;
    }
  }

  
}

#main_offerings_list {
  
  padding: 20px;
  @media (min-width: 980px) {
    margin-top: -100px; 
    width: 940px;
  }
  
    
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 9999;  
  background: #fff;
  
    
 
  .offerings_box {    
     
    @media all and (min-width: 768px) {
      &:nth-child(1) {
          float: left;
          margin-right: 20px;
      }
      &:nth-child(2) {          
          margin-right: 20px;
      }      
      &:nth-child(3) {
          margin-right: 20px;
      }
          
   }    
   
   @media (min-width: 940px) {
     display: inline-block;
   }
    
      
    width: 217px;    
    margin: 0px;
    
        
    
   img {
      margin: 0 auto;
    }
    
    h4 {
      margin: 0;
      padding: 0;
      background: #262729;
      color: #fff;
      padding: 5px;
      font-size: 15px;
    }
    
    p {
      color: #fff;
      background: #D74340;
      padding: 20px;
    }
    
  }
   
  
}


//******************* HOME CONTENT

.gray_background {
  @media (min-width: 980px) and (max-width: 1200px), (min-width: 1200px) {
    background: #E4E8EE;
    margin-top: 300px;
    height: 100%;
  }
    
}

#home_content {
  text-align: center;  
  
  img {
    margin: 0 auto;
  }
  
  .home_column {
    width: 300px;
    padding: 10px;
    float: left;
    
    .white_container {
      width: 280px;
      padding: 10px;
      background: #fff;
      margin-bottom: 20px;
      border: 1px solid #CDCDCD;
      overflow: auto;
      
      img {
        margin-bottom: 20px;
      }
      
      h4 {
        float: left;        
        padding: 0;
        font-size: 14px;
        color: #666;
        
      }
      
      hr {
        clear: both;
        height: 1px;
        margin: 1em 0;
        background: #ccc;
      }
      
      p {
        color: #666;
        font-size: 12px;
        text-align: left;
      }
      
      a.btn-more-info {
          float: left;
          background: #D74340;
          color: #fff;
          margin-bottom: 10px;
      }
      
      
    }
    
    .gray_container {
      
        width: 280px;
        padding: 10px;
        background: #262729;
        margin-bottom: 20px;
        border: 1px solid #CDCDCD;
        overflow: auto;
        
        img {
          margin-bottom: 20px;
          border-bottom: 5px solid #D74340;
        }
        
        h4 {
          float: left;        
          padding: 0;
          font-size: 14px;
          color: #fff;
          
        }
        
        hr {
          
          height: 1px;
          margin: 1em 0;
          background: #CDCDCD;
          clear: both;
        }
        
        p {
          color: #CDCDCD;
          font-size: 12px;
          text-align: left;
        }
        
        a.btn-more-info {
            float: left;
            background: #D74340;
            color: #fff;
            margin-bottom: 10px;
        }
      
      
      
    }
    
    .home_column_header {
      @media (min-width: 980px) and (max-width: 1200px), (min-width: 1200px) {
        margin-top: -40px;
      }
      margin-bottom: 20px;
      border-left: 5px solid #D74340;
      padding: 20px;
      background: #262729;
      h4 {
        float: left;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 14px;
      }   
    }
    
  }
  
  
}


































